.ContactsBlock{
    background-color: #93ff9d;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.title{
    background-color: #919191;
    width: 120px;
    text-align: center;
}

.ContactsContainer{
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    min-height: 80vh;

}

.form{
    border: 1px solid;
    min-height: 230px;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.TextArea{
    min-height: 100px;
}