.RemoteWorkBlock{
    background-color: #fff58f;
    min-height: 50vh;
    display: flex;
    align-items: center;
}

.RemoteWorkContainer{
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.button{
    background-color: #5b5b5b;
    width: 150px;
    height: 40px;
    text-align: center;
}
.title{
    background-color: #9b9b9b;
}