@import '../Common/Styles/Scss/Variables.scss'; 

.SkillsBlock{
    background-color:#1e2124;;
    min-height: 110vh;
    display: flex;
    align-items: center;
    .SkillsContainer{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 80vh;
        justify-content: space-around;
        .title{
            font-size: 34px;
            line-height: 42px;
            color: $textColor;
            font-family: "Saira",Helvetica,Arial,sans-serif;
            font-weight: 600;
        }
        .skills{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @media screen and(max-width: 900px) {
                flex-direction: column;
                align-items: center;
                justify-content: center;
              }
        }
        
    }
}
