.project{
    width: 360px;
    background-color: #a9a9a9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}

.icon{
    background-image: url('https://imageio.forbes.com/specials-images/dam/imageserve/1092571024/0x0.jpg?format=jpg&width=1200');
    background-size: cover;
    background-position: center;
    width: 360px;
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
   text-align: center;
}

.Span{
    background-color: #5b5b5b;
    width: 110px;
    height: 85px;
    text-align: center;
}

.Text{
    background-color: #b7b7b7;
    border: 1px solid;
}