@import ".././Common/Styles/Scss/Variables.scss";

.Main {
    min-height: 110vh;
    background: $BgColor;
    display: flex;
    align-items: center;
    .Container{
       justify-content: space-around;
        .Photo {
        background-color: $primeryColor;
        width: 340px;
        min-height: 500px;
        margin-top: 10px;
        margin-left: 5px
    }
    .AboutMe {
        margin-left: 5px;
        padding: 10px;
        max-width: 500px;
       
        .Info{
            font-family: "Nunito",Helvetica,Arial,sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.8em;
            word-spacing: 0;
            color: $secondaryColor;
        }
        .Title{
          font-family: "Nunito",Helvetica,Arial,sans-serif;  
          font-weight: 700;
          color: $textColor;
          font-size: 34px;
          line-height: 42px;
          
        }
        .progresTitle{
            font-family: "Nunito",Helvetica,Arial,sans-serif;
            font-size: 1rem;
            font-weight: 500;
            margin: 10px 0px 6px 0px;
            color: $textColor;
        }   
        .Description{
         display: flex;
         align-items: center;
         
         .ProgressBar{
            background-color: rgb(48, 48, 48);
            width: 305px;
            height: 6px;
            border-radius: 10px;
        }
    }
    }
}
}