.ProjectBlock{
    background-color: #a24dff;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.title{
    background-color: #919191;
}

.ProjectContainer{
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.Projects{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
